{
  "arm": [
    [
      "<armName>",
      ":idle"
    ],
    [
      "<armName>Fullbright",
      ":idle"
    ]
  ],
  "body": [
    [
      "bodyBack",
      ":active"
    ],
    [
      "bodyFront",
      ":active"
    ],
    [
      "bodyFullbright",
      ":active"
    ]
  ],
  "booster": [
    [
      "frontBoosterBack",
      ":idle"
    ],
    [
      "frontBoosterFront",
      ":idle"
    ]
  ],
  "legs": [
    [
      "backLeg",
      ":flat",
      [
        11,
        -4
      ]
    ],
    [
      "backLegJoint",
      ":default",
      [
        5,
        -1
      ]
    ],
    [
      "hips",
      ":default",
      [
        2,
        3
      ]
    ],
    [
      "frontLegJoint",
      ":default",
      [
        -6,
        -1
      ]
    ],
    [
      "frontLeg",
      ":flat",
      [
        -10,
        -4
      ]
    ]
  ]
}
