{
  "plugins": [/*
    {
      // A unique name for your plugin. PlugBound won't load two plugins with
      // the same name
      "name": "lpl_example_weapon_plugin",
      // The path to your plugin lua script
      "path": "/items/active/weapons/plugins/pb_example_weapon_plugin.lua",
      // A list of "hard" dependencies for your plugin. If these are not loaded, your
      // plugin will assert and stop lua.
      "requires": [],
      // A list of "soft" dependencies for your plugin. If these are not loaded, your
      // plugin will apply anyway.
      "after": []
    }
*/]
}
